<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="logconsole" xsi:type="Console"
				encoding="utf-8"
				layout="[${longdate}][${machinename}][${level}][${logger}][${callsite:methodName=true}] ${message} ${exception}" />
        <target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				encoding="utf-8"
				layout="[${longdate}][${machinename}][${level}][${logger}][${callsite:methodName=true}] ${message} ${exception}" />
    </targets>

    <rules>
        <logger name="System.*" maxlevel="Info" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />

        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>